.wallpapers-items {
  height: 300px;
  margin-top: 20px;
  overflow: auto;
  background-color: var(--finder-bg);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.wallpapers-items p {
  color: var(--wallpapers-color);
  font-size: 16px;
}
.standalone-wallpapers img {
  width: 20vw;
}
.dynamic-wallpapers img {
  width: 10vw;
}
.dynamic-wallpapers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.standalone-wallpapers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.wallpaper-item img:hover {
  outline: 3px solid #0077ff;
}

.wallpaper-item img {
  border-radius: 12px;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wallpaper-item p {
  padding: 0;
  margin: 15px 0;
}
@media (max-width: 1024px) {
  .dynamic-wallpapers img {
    width: 20vw;
  }
  .standalone-wallpapers img {
    width: 30vw;
  }
  .dynamic-wallpapers,
  .standalone-wallpapers {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .wallpaper-item,
  .wallpaper-item {
    display: grid;
    place-items: center;
  }
  .wallpapers-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
