.file-container {
  width: fit-content;
  margin: 12px;
}
.file-container img {
  width: 64px;
  margin: 0;
  cursor: pointer;
}
.file-container h3 {
  color: var(--font-color);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
