.folder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5px;
}
.folder-container{
    text-align: center;
    padding: 8px 16px;
    height: fit-content;
}
.folder-container img{
    border-radius: 0;
    width: 60px;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.folder-container p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.folder-container:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, .3);
    border-radius: 4px;
}