.bottom-bar {
  width: fit-content;
  background-color: var(--bottom-bar-bg);
  height: 60px;
  position: absolute;
  bottom: 5px;
  border-radius: 10px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
}
.bottom-bar img {
  width: 3.6rem;
  border-radius: 0;
  margin: 0;
}
.logo p {
  position: absolute;
  bottom: 50px;
  background-color: var(--bottom-bar-bg);
  border: 1px solid var(--border);
  padding: 8px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  display: none;
}

.logo:hover p {
  display: block;
  bottom: 50px;
}
.logo:hover img {
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
}
