.settings-apps-item-header {
  display: flex;
  align-items: center;
}
.settings-apps-item-header img {
  margin: 0;
  padding: 6px;
  width: 30px;
  transition: background-color 0.5s ease;
}
.settings-apps-item-header p {
  margin: 0;
  font-size: 8px;
  color: var(--settings-item-color);
}
.info {
  margin-left: 6px;
}
p.header-text {
  font-size: 12px;
  color: var(--font-color);
  width: 60px;
}
.settings-apps-item:nth-child(2),
.settings-apps-item:nth-child(3) {
  margin-top: 12px;
}
